.list-container {
  display: grid;
  row-gap: 3rem;
}

.list-container img {
  width: 100%;
  display: block;
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: var(--radius);
  margin-bottom: 1rem;
}
.list-container h4 {
  margin-bottom: 0.5rem;
}
.list-container .price {
  color: var(--clr-primary-6);
  margin-bottom: 0.75rem;
}
.list-container p {
  max-width: 45em;
  margin-bottom: 1rem;
}
.p-btn {
  font-size: 0.7rem;
  padding: 0.25rem 0.5rem;
}
@media (min-width: 992px) {
  .list-container article {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 2rem;
    align-items: center;
  }
}
