.wrapper {
  background: var(--clr-grey-10);
}
.wrapper .title {
  text-align: center;
}
.wrapper .featured {
  margin: 4rem auto;
  display: grid;
  gap: 2.5rem;
}

.wrapper .title .underline {
  width: 6rem;
  height: 0.25rem;
  background: #49a6e9;
  background: var(--clr-primary-5);
  margin-left: auto;
  margin-right: auto;
}
.wrapper .featured img {
  height: 225px;
}
.wrapper .btn {
  display: block;
  width: 148px;
  margin: 0 auto;
  text-align: center;
}
@media (min-width: 576px) {
  .featured {
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  }
}
