.products-container {
  display: grid;
  gap: 2rem 1.5rem;
}

.products-container img {
  height: 175px;
}

@media (min-width: 992px) {
  .products-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1170px) {
  .products-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
