.wrapper {
  padding: 5rem 0;
  background: var(--clr-primary-10);
}
.wrapper h3,
.wrapper h4 {
  color: var(--clr-primary-1);
  text-transform: capitalize;
}

.header h3 {
  margin-bottom: 2rem;
}
.header p {
  margin-bottom: 0;
  line-height: 1.8;
  color: var(--clr-primary-3);
}
.services-center {
  margin-top: 4rem;
  display: grid;
  gap: 2.5rem;
}
.service {
  background: var(--clr-primary-7);
  text-align: center;
  padding: 2.5rem 2rem;
  border-radius: var(--radius);
}
.service p {
  color: var(--clr-primary-2);
}
.service span {
  width: 4rem;
  height: 4rem;
  display: grid;
  margin: 0 auto;
  place-items: center;
  margin-bottom: 1rem;
  border-radius: 50%;
  background: var(--clr-primary-10);
  color: var(--clr-primary-1);
}
.service svg {
  font-size: 2rem;
}
@media (min-width: 992px) {
  .header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 4rem;
  }
}
@media (min-width: 576px) {
  .services-center {
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  }
}
@media (min-width: 1280px) {
  .wrapper {
    padding: 0;
    padding-bottom: 3rem;
  }
}
