.wrapper {
  min-height: 60vh;
  display: grid;
  place-items: center;
}
.wrapper h1 {
  font-size: 3rem;
}
.wrapper .img-container {
  display: none;
}

.wrapper p {
  line-height: 2;
  max-width: 45em;
  margin-bottom: 2rem;
  color: var(--clr-grey-5);
  font-size: 1rem;
}
@media (min-width: 992px) {
  .wrapper {
    height: calc(100vh - 5rem);
    grid-template-columns: 1fr 1fr;
    gap: 8rem;
  }
  .wrapper h1 {
    margin-bottom: 2rem;
    font-size: 3rem;
  }
  .wrapper p {
    font-size: 1.25rem;
  }
  .hero-btn {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
  }
  .wrapper .img-container {
    display: block;
    position: relative;
  }
  .wrapper .main-img {
    width: 100%;
    height: 550px;
    border-radius: var(--radius);
    display: block;
    object-fit: cover;
  }
  .wrapper .accent-img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 250px;
    transform: translateX(-50%);
    border-radius: var(--radius);
  }
  .wrapper .img-container::before {
    content: "";
    position: absolute;
    width: 10%;
    height: 80%;
    background: var(--clr-primary-9);
    bottom: 0%;
    left: -8%;
    border-radius: var(--radius);
  }
}
