.form-control {
  margin-bottom: 1.25rem;
}
.form-control h5 {
  margin-bottom: 0.5rem;
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  color: black;
  font-weight: bold;
}
.search-input {
  padding: 0.5rem;
  background: var(--clr-grey-10);
  border-radius: var(--radius);
  border-color: transparent;
  letter-spacing: var(--spacing);
}
.search-input::placeholder {
  text-transform: capitalize;
}

.form-control button {
  display: block;
  margin: 0.25em 0;
  padding: 0.25rem 0;
  text-transform: capitalize;
  background: transparent;
  border: none;
  border-bottom: 1px solid transparent;
  letter-spacing: var(--spacing);
  color: var(--clr-grey-5);
  cursor: pointer;
}
.form-control .active-filter {
  border-bottom: 1px solid var(--clr-grey-5);
}
.company {
  background: var(--clr-grey-10);
  border-radius: var(--radius);
  border-color: transparent;
  padding: 0.25rem;
}

.price-filter {
  margin-bottom: 0.25rem;
}
.shipping-filter {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  text-transform: capitalize;
  column-gap: 0.5rem;
  font-size: 1rem;
}
.clear-btn {
  background: var(--clr-red-dark);
  color: var(--clr-white);
  padding: 0.25rem 0.5rem;
  border-radius: var(--radius);
}
@media (min-width: 768px) {
  .filter-content {
    position: sticky;
    top: 1rem;
  }
}
