.container .main {
  height: 600px;
}
.container img {
  width: 100%;
  display: block;
  border-radius: var(--radius);
  object-fit: cover;
}
.gallery {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 1rem;
}
.gallery img {
  height: 100px;
  cursor: pointer;
}
.gallery .active {
  border: 2px solid var(--clr-primary-5);
}
@media (max-width: 576px) {
  .container .main {
    height: 300px;
  }
  .gallery img {
    height: 50px;
  }
}
@media (min-width: 992px) {
  .container .main {
    height: 500px;
  }
  .gallery img {
    height: 75px;
  }
}
