.container {
  position: relative;
  background: var(--clr-black);
  border-radius: var(--radius);
}
.container img {
  width: 100%;
  display: block;
  object-fit: cover;
  border-radius: var(--radius);
  transition: var(--transition);
}
.container .link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--clr-primary-5);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  transition: var(--transition);
  opacity: 0;
  cursor: pointer;
}
.container .link svg {
  font-size: 1.25rem;
  color: var(--clr-white);
}
.container:hover img {
  opacity: 0.5;
}
.container:hover .link {
  opacity: 1;
}
.productFooter {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.productFooter h5 {
  color: black;
  text-transform: capitalize;
}
.productFooter p {
  margin-bottom: 0;
  font-weight: 400;
}

.productFooter p {
  color: var(--clr-primary-5);
  letter-spacing: var(--spacing);
}
