.wrapper {
  background: var(--clr-primary-10);
  width: 100%;
  min-height: 20vh;
  display: flex;
  align-items: center;
  color: var(--clr-primary-1);
}
.wrapper a {
  color: var(--clr-primary-3);
  padding: 0.5rem;
  transition: var(--transition);
}
.wrapper a:hover {
  color: var(--clr-primary-1);
}
